/* Bootstrap Container */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

   /* 
  @media (min-width: 768px) {
    .container {
      width: 740px; } }
  @media (min-width: 992px) {
    .container {
      width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1160px; } }*/

/* -------------------------------------------- */

*{
	box-sizing:border-box;
	font-family:Arial;
}

.brick{
	width:100%;
	cursor:grab;
	margin:auto;
}

.brick-half{
	height:50%;
}

.brick-full{
	height:100%;
}

.board{
	max-width:1200px;
	margin:auto;
	padding: 0 30px;
}

@media (min-width: 768px) {
	.board{
		padding: 0 60px;
	}
}

@media (min-width: 992px) {
	.board{
		padding: 0 80px;
	}
}


.draggable{
	cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.isDragging{
	cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    opacity: .5;
}

.boardField{
	position:relative;
	width:18%;
	height:100%;
	display:inline-block;
}

.boardField.isOver:after{
	content:"";
	position:absolute;
	width:;
	top:0;bottom:0;
	width:100%;
	background:#FFEB3B;
	opacity:.4;
}

.boardField:first-child.isOver:after{
	left:0px;
}
.boardField:last-child.isOver:after{
	right:0px;
}

.boardField.isOver{
	cursor:copy;
}

.field{
	width:100%;
	height:100%;
}

.user{
	display:inline-block;
	position:absolute;
	left:-12px;	
	top:50%;
	transform:translateY(-50%) translateX(-100%);
	font-size:2em;
	color:#616161;	
}

@media (min-width: 768px) {
	.user{
		left:-21px;
	}
}

@media (min-width: 992px) {
	.user{
		left:-27px;
	}
}

 @media (min-width: 768px) {
	.user{
		font-size:3em;
	}
 } 
 @media (min-width: 992px) {
	.user{
		font-size:4em;
	}
 }

.fieldWrapper:not(:last-of-type){
	border-right:none;
}

.row{
	background:WhiteSmoke;
	position:relative;
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	width:100%;
	height:100px;
	margin-top:20px;
}

.axisDays{
	width:100%;
	text-align: center;
	margin-top:15px;	
}

.dayField{
	padding:15px;
	display:inline-block;
	width:20%;
	/*background:MediumSeaGreen ;*/
	background:#616161;
	font-size:1.5em;
	color:white;
}

.dayField span:first-child{
	display:none;
}

@media (min-width: 992px) {
	.dayField span:first-child{
		display:inline;
	}
	.dayField span:last-child{
		display:none;
	}
}


.brickset{
	margin-top:50px;
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}

.brickset-element{
	display:inline-block;
	width:18%;
	vertical-align: middle;
	margin-bottom:40px;
}

.brickset .brick{
	color: white;
	position:relative;
	padding:10px;
	height:initial;
}

.brickset .brickName{
	position: absolute;
	top:50%;
	left:50%;
	transform: translateY(-50%) translateX(-50%);
}

.brickset .brick-half{
	margin-top:20px;
	height:50px;
}

.brickset .brick-full{
	height:100px;
}

.brickset-title{
	width:100%;
	display:block;
	color:#BDBDBD;
	text-align: center;
	font-size:1.8em;
	//margin:30px 0;
}

.brickset .separator{

	width:100%;
	height:1px;
	border: 4px dashed #EEEEEE;
	margin-bottom:40px;
	margin-top:30px;
}




























